body{
    margin: 0;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsl(0, 0%, 75%);
}


#calculator{
   font-family: Helvetica, sans-serif ;
   background-color:black;
   border-radius: 15px;
   max-width: 500px;
   overflow: hidden;
}

#display{
    width: 100%; 
    padding: 20px;
    font-size:5rem;
    text-align: left;
    border:none;
    background-color:hsl(0, 0%, 38%);
    font-family: Helvetica, sans-serif;
    color: wheat;
}





#keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;
}



button{            
     width: 100px;
     height: 100px;
     border-radius: 50px ;
     border: none;
     background-color: hsl(0, 0%, 38%);
     color:wheat ;
     font-size: xx-large;
     font-weight: bolder;
     cursor:pointer;

}

button:hover{
       background-color:hsl(0, 0%, 50%);
}

button:active{
    background-color:hsl(0, 0%, 60%);
}
 
.operator-btn{
    background-color: goldenrod;

}

.operator-btn:hover{
       background-color: rgb(224, 165, 14);

}
.operator-btn:active{
    background-color: rgb(255, 196, 0);
}